body {
    font-family: 'Roboto', sans-serif;
}
header {
    width: 100%;
    height: 50px;
    background: #1c8b98;
    color:#fff;
    text-align:center;
    position: fixed;
    top: 0;
    left:0;
}
canvas {
	display: block;
    margin: 0 auto;
	border:1px solid #888;
}
.content {
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}